{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, [{mhttp,
         {git, "https://github.com/galdor/erl-mhttp.git",
          {branch, "master"}}},
        {uri,
         {git, "https://github.com/galdor/erl-uri.git",
          {branch, "master"}}},
        {json,
         {git, "https://github.com/galdor/erl-json.git",
          {branch, "master"}}},
        {b64,
         {git, "https://github.com/exograd/erl-b64.git",
          {branch, "master"}}},
        {jsv,
         {git, "https://github.com/galdor/erl-jsv.git",
          {branch, "master"}}}]}.
